.calculator{
    background-color: rgb(209, 209, 209);
    width: 300px;
    height: 410px;
    margin: auto;
    margin-top: 60px;
}
.display{
    display: block;
    font-size: 30px;
    text-align: end;
    background-color: rgb(235, 233, 233);
    width: 300px;
    height: 102px;
    word-wrap: break-word   ;
}
.numButton{
    font-size: large;
    background-color: rgb(154, 179, 182);
    border: none;
    margin-bottom: 0px;
    width: 73.5px;
    height: 48px;
   vertical-align: top;
   cursor: pointer;
   transition: .5s, box-shadow .05s ;
   
}
.numButton:hover{
    opacity: .5;
   box-shadow: 3px 3px 10px rgb(92, 41, 41);
}
.numButton:active{
    opacity: .2;
   box-shadow: 0px 0px 0px rgb(92, 41, 41);
}
.button{
    border: none;
    font-size: large;
    background-color: rgb(161, 155, 168);
    width: 73.5px;
    height: 48px;
    margin-bottom: 0px;
   vertical-align: top;
   cursor: pointer;
   transition: .5s, box-shadow 0.05s;
}
.button:hover{
    opacity: .5;
    box-shadow: 3px 3px 10px rgb(92, 41, 41);
}
.button:active{
    opacity: .2;
   box-shadow: 0px 0px 0px rgb(92, 41, 41);
}
.Hspace{
    width: 300px;
    height: 0px;
    display: flexbox;
}
.Vspace{
    width: 2px;
    height: 48px;
    color: blue;
    display: inline-block;
    margin-bottom: 0px;
}
.buttons{
    width: 300px;
    height: 298px;
}